<p style="text-align:center">
    <a href="https://skills.network/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2022-01-01" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo"  />
    </a>
</p>

<h1 align=center><font size = 5>Assignment: SQL Notebook for Peer Assignment</font></h1>

Estimated time needed: **60** minutes.

## Introduction

Using this Python notebook you will:

1.  Understand the Spacex DataSet
2.  Load the dataset  into the corresponding table in a Db2 database
3.  Execute SQL queries to answer assignment questions

## Overview of the DataSet

SpaceX has gained worldwide attention for a series of historic milestones.

It is the only private company ever to return a spacecraft from low-earth orbit, which it first accomplished in December 2010.
SpaceX advertises Falcon 9 rocket launches on its website with a cost of 62 million dollars wheras other providers cost upward of 165 million dollars each, much of the savings is because Space X can reuse the first stage.

Therefore if we can determine if the first stage will land, we can determine the cost of a launch.

This information can be used if an alternate company wants to bid against SpaceX for a rocket launch.

This dataset includes a record for each payload carried during a SpaceX mission into outer space.

### Download the datasets

This assignment requires you to load the spacex dataset.

In many cases the dataset to be analyzed is available as a .CSV (comma separated values) file, perhaps on the internet. Click on the link below to download and save the dataset (.CSV file):

<a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2022-01-01" target="_blank">Spacex DataSet</a>

**Navigate to the Go to UI screen**

*   Refer to this insruction in this <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Sign%20up%20for%20IBM%20Cloud%20-%20Create%20Db2%20service%20instance%20-%20Get%20started%20with%20the%20Db2%20console/instructional-labs.md.html?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2022-01-01">link</a> for viewing  the   Go to UI screen.

*   Later click on **Data link(below SQL)**  in the Go to UI screen  and click on **Load Data** tab.

*   Later browse for the downloaded spacex file.

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/images/browsefile.png" width="800"/>

*   Once done select the schema andload the file.

 <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/images/spacexload3.png" width="800"/>

In [1]:
!pip install sqlalchemy==1.3.9
!pip install ibm_db_sa
!pip install ipython-sql

Collecting sqlalchemy==1.3.9
  Downloading SQLAlchemy-1.3.9.tar.gz (6.0 MB)
     ---------------------------------------- 6.0/6.0 MB 797.6 kB/s eta 0:00:00
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Building wheels for collected packages: sqlalchemy
  Building wheel for sqlalchemy (setup.py): started
  Building wheel for sqlalchemy (setup.py): finished with status 'done'
  Created wheel for sqlalchemy: filename=SQLAlchemy-1.3.9-cp310-cp310-win_amd64.whl size=1142919 sha256=15c30fcd7cdd9fe7cd97f99112848b1829b72eac16cfd5319766b7352550c98f
  Stored in directory: c:\users\infokom\appdata\local\pip\cache\wheels\66\e3\30\28b647805efa547d8f190c0ea36dbce63a098cd732559acf2f
Successfully built sqlalchemy
Installing collected packages: sqlalchemy
Successfully installed sqlalchemy-1.3.9
Collecting ibm_db_sa
  Downloading ibm_db_sa-0.3.8-py3-none-any.whl (30 kB)
Collecting ibm-db>=2.0.0
  Downloading ibm_db-3.1.4.tar.gz (1.4 MB)
     ---------------------------------------- 1.4/1.4 MB 386.7 kB/s eta 0:00:00
  Installing build dependencies: started
  Installing build dependencies: finished with status 'done'
  Getting requirements to build wheel: started
  Getting requirements to build wheel: finished with status 'done'
  Installing backend dependencies: started
  Installing backend dependencies: finished with status 'done'
  Preparing metadata (pyproject.toml): started
  Preparing metadata (pyproject.toml): finished with status 'done'
Requirement already satisfied: sqlalchemy>=0.7.3 in c:\users\infokom\miniconda3\lib\site-packages (from ibm_db_sa) (1.3.9)
Building wheels for collected packages: ibm-db
  Building wheel for ibm-db (pyproject.toml): started
  Building wheel for ibm-db (pyproject.toml): finished with status 'done'
  Created wheel for ibm-db: filename=ibm_db-3.1.4-py3-none-any.whl size=27750140 sha256=888ce6e40a0ccf2d47008e6f2c614d6f07574f9739f47937bcf513e651a73238
  Stored in directory: c:\users\infokom\appdata\local\pip\cache\wheels\4a\12\8c\4fdc8da3cd41ace7102a244c65ffb64e9a5e258c116c2a1c50
Successfully built ibm-db
Installing collected packages: ibm-db, ibm_db_sa
Successfully installed ibm-db-3.1.4 ibm_db_sa-0.3.8
Collecting ipython-sql
  Downloading ipython_sql-0.4.1-py3-none-any.whl (21 kB)
Requirement already satisfied: ipython>=1.0 in c:\users\infokom\miniconda3\lib\site-packages (from ipython-sql) (8.8.0)
Requirement already satisfied: sqlalchemy>=0.6.7 in c:\users\infokom\miniconda3\lib\site-packages (from ipython-sql) (1.3.9)
Collecting sqlparse
  Using cached sqlparse-0.4.3-py3-none-any.whl (42 kB)
Requirement already satisfied: six in c:\users\infokom\miniconda3\lib\site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython-genutils>=0.1.0 in c:\users\infokom\miniconda3\lib\site-packages (from ipython-sql) (0.2.0)
Collecting prettytable<1
  Downloading prettytable-0.7.2.zip (28 kB)
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Requirement already satisfied: prompt-toolkit<3.1.0,>=3.0.11 in c:\users\infokom\miniconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (3.0.36)
Requirement already satisfied: stack-data in c:\users\infokom\miniconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.2.0)
Requirement already satisfied: colorama in c:\users\infokom\miniconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.4.6)
Requirement already satisfied: backcall in c:\users\infokom\miniconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.2.0)
Requirement already satisfied: pygments>=2.4.0 in c:\users\infokom\miniconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (2.11.2)
Requirement already satisfied: pickleshare in c:\users\infokom\miniconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.7.5)
Requirement already satisfied: traitlets>=5 in c:\users\infokom\miniconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (5.7.1)
Requirement already satisfied: matplotlib-inline in c:\users\infokom\miniconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.1.6)
Requirement already satisfied: decorator in c:\users\infokom\miniconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (5.1.1)
Requirement already satisfied: jedi>=0.16 in c:\users\infokom\miniconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.18.1)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in c:\users\infokom\miniconda3\lib\site-packages (from jedi>=0.16->ipython>=1.0->ipython-sql) (0.8.3)
Requirement already satisfied: wcwidth in c:\users\infokom\miniconda3\lib\site-packages (from prompt-toolkit<3.1.0,>=3.0.11->ipython>=1.0->ipython-sql) (0.2.5)
Requirement already satisfied: asttokens in c:\users\infokom\miniconda3\lib\site-packages (from stack-data->ipython>=1.0->ipython-sql) (2.0.5)
Requirement already satisfied: pure-eval in c:\users\infokom\miniconda3\lib\site-packages (from stack-data->ipython>=1.0->ipython-sql) (0.2.2)
Requirement already satisfied: executing in c:\users\infokom\miniconda3\lib\site-packages (from stack-data->ipython>=1.0->ipython-sql) (0.8.3)
Building wheels for collected packages: prettytable
  Building wheel for prettytable (setup.py): started
  Building wheel for prettytable (setup.py): finished with status 'done'
  Created wheel for prettytable: filename=prettytable-0.7.2-py3-none-any.whl size=13695 sha256=f034c85217eb1c979d7943700c91e0a19a89c72f850b1eb5f03800e1257edc01
  Stored in directory: c:\users\infokom\appdata\local\pip\cache\wheels\ec\32\b1\b9dda552a609c834467b28a174fa60d2c102e17857ccafd95b
Successfully built prettytable
Installing collected packages: prettytable, sqlparse, ipython-sql
Successfully installed ipython-sql-0.4.1 prettytable-0.7.2 sqlparse-0.4.3

### Connect to the database

Let us first load the SQL extension and establish a connection with the database

In [2]:
%load_ext sql

In [20]:
df = pd.read_csv("Spacex.csv")
conn = sqlite3.connect("spacex.db")
df.to_sql("spacex", conn, index=False)

101

**DB2 magic in case of old UI service credentials.**

In the next cell enter your db2 connection string. Recall you created Service Credentials for your Db2 instance before. From the **uri** field of your Db2 service credentials copy everything after db2:// (except the double quote at the end) and paste it in the cell below after ibm_db_sa://

<img src ="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_edX/images/URI.jpg">

in the following format

**%sql ibm_db_sa://my-username:my-password\@my-hostname:my-port/my-db-name**

**DB2 magic in case of new UI service credentials.**

<img src ="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/images/servicecredentials.png" width=600>  

*   Use the following format.

*   Add security=SSL at the end

**%sql ibm_db_sa://my-username:my-password\@my-hostname:my-port/my-db-name?security=SSL**

In [25]:
# %sql ibm_db_sa://
%sql sqlite:///spacex.db

## Tasks

Now write and execute SQL queries to solve the assignment tasks.

### Task 1

##### Display the names of the unique launch sites  in the space mission

In [29]:
%%sql
SELECT Distinct Launch_Site
FROM spacex

   sqlite://
 * sqlite:///spacex.db
Done.

[('CCAFS LC-40',), ('VAFB SLC-4E',), ('KSC LC-39A',), ('CCAFS SLC-40',)]

### Task 2

##### Display 5 records where launch sites begin with the string 'CCA'

In [32]:
%%sql
SELECT *
FROM spacex
WHERE Launch_Site LIKE 'CCA%'
LIMIT 5

   sqlite://
 * sqlite:///spacex.db
Done.

[('04-06-2010', '18:45:00', 'F9 v1.0  B0003', 'CCAFS LC-40', 'Dragon Spacecraft Qualification Unit', 0, 'LEO', 'SpaceX', 'Success', 'Failure (parachute)'),
 ('08-12-2010', '15:43:00', 'F9 v1.0  B0004', 'CCAFS LC-40', 'Dragon demo flight C1, two CubeSats, barrel of Brouere cheese', 0, 'LEO (ISS)', 'NASA (COTS) NRO', 'Success', 'Failure (parachute)'),
 ('22-05-2012', '07:44:00', 'F9 v1.0  B0005', 'CCAFS LC-40', 'Dragon demo flight C2', 525, 'LEO (ISS)', 'NASA (COTS)', 'Success', 'No attempt'),
 ('08-10-2012', '00:35:00', 'F9 v1.0  B0006', 'CCAFS LC-40', 'SpaceX CRS-1', 500, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'No attempt'),
 ('01-03-2013', '15:10:00', 'F9 v1.0  B0007', 'CCAFS LC-40', 'SpaceX CRS-2', 677, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'No attempt')]

### Task 3

##### Display the total payload mass carried by boosters launched by NASA (CRS)

In [142]:
%%sql
SELECT Booster_Version, sum(PAYLOAD_MASS__KG_) as TotalPayload
FROM spacex
WHERE customer="NASA (CRS)"
Group By Booster_Version
Order by sum(PAYLOAD_MASS__KG_)

   sqlite://
 * sqlite:///spacex.db
Done.

[('F9 v1.0  B0006', 500),
 ('F9 v1.0  B0007', 677),
 ('F9 v1.1 B1015', 1898),
 ('F9 v1.1 B1018', 1952),
 ('F9 B5 B1059.2', 1977),
 ('F9 FT  B1035.2', 2205),
 ('F9 v1.1 B1010', 2216),
 ('F9 FT B1025.1', 2257),
 ('F9 B5 B1056.2 ', 2268),
 ('F9 v1.1', 2296),
 ('F9 v1.1 B1012', 2395),
 ('F9 FT B1031.1', 2490),
 ('F9 B5B1056.1 ', 2495),
 ('F9 B5B1050', 2500),
 ('F9 B4  B1039.2', 2647),
 ('F9 B4 B1045.2', 2697),
 ('F9 FT B1035.1', 2708),
 ('F9 B5 B1058.4 ', 2972),
 ('F9 FT B1021.1', 3136),
 ('F9 B4 B1039.1', 3310)]

### Task 4

##### Display average payload mass carried by booster version F9 v1.1

In [47]:
%%sql
SELECT Booster_Version, avg(PAYLOAD_MASS__KG_) as AvgPayload
FROM spacex
WHERE Booster_Version = "F9 v1.1"

   sqlite://
 * sqlite:///spacex.db
Done.

[('F9 v1.1', 2928.4)]

In [96]:
%%sql
SELECT Distinct "Landing _Outcome"
FROM spacex

   sqlite://
 * sqlite:///spacex.db
Done.

[('Failure (parachute)',),
 ('No attempt',),
 ('Uncontrolled (ocean)',),
 ('Controlled (ocean)',),
 ('Failure (drone ship)',),
 ('Precluded (drone ship)',),
 ('Success (ground pad)',),
 ('Success (drone ship)',),
 ('Success',),
 ('Failure',),
 ('No attempt ',)]

### Task 5

##### List the date when the first successful landing outcome in ground pad was acheived.

*Hint:Use min function*

In [144]:
%%sql
SELECT Date, "Landing _Outcome"
FROM spacex
WHERE "Landing _Outcome"="Success (ground pad)"
ORDER BY substr(Date,7)||substr(Date,4,2)||substr(Date,1,2) DESC

   sqlite://
 * sqlite:///spacex.db
Done.

[('08-01-2018', 'Success (ground pad)'),
 ('15-12-2017', 'Success (ground pad)'),
 ('07-09-2017', 'Success (ground pad)'),
 ('14-08-2017', 'Success (ground pad)'),
 ('03-06-2017', 'Success (ground pad)'),
 ('01-05-2017', 'Success (ground pad)'),
 ('19-02-2017', 'Success (ground pad)'),
 ('18-07-2016', 'Success (ground pad)'),
 ('22-12-2015', 'Success (ground pad)')]

### Task 6

##### List the names of the boosters which have success in drone ship and have payload mass greater than 4000 but less than 6000

In [148]:
%%sql
SELECT Booster_Version, PAYLOAD_MASS__KG_, Orbit
FROM spacex
WHERE  "Landing _Outcome"="Success (drone ship)" AND PAYLOAD_MASS__KG_ BETWEEN 4000 AND 6000

   sqlite://
 * sqlite:///spacex.db
Done.

[('F9 FT B1022', 4696, 'GTO'),
 ('F9 FT B1026', 4600, 'GTO'),
 ('F9 FT  B1021.2', 5300, 'GTO'),
 ('F9 FT  B1031.2', 5200, 'GTO')]

### Task 7

##### List the total number of successful and failure mission outcomes

In [124]:
%%sql
SELECT Outcome, count(*) AS Count
FROM (
    SELECT (CASE
                WHEN "Landing _Outcome" LIKE "%Success%" THEN "Success"
                ELSE "Failure"
            END) AS Outcome
    FROM spacex
)
GROUP BY Outcome

   sqlite://
 * sqlite:///spacex.db
Done.

[('Failure', 40), ('Success', 61)]

In [130]:
%%sql
SELECT (CASE
                WHEN "Landing _Outcome" LIKE "%Success%" THEN "Success"
                ELSE "Failure"
            END) AS Outcome,
        count(*) AS Count
FROM spaceX
GROUP BY (CASE
                WHEN "Landing _Outcome" LIKE "%Success%" THEN "Success"
                ELSE "Failure"
            END)

   sqlite://
 * sqlite:///spacex.db
Done.

[('Failure', 40), ('Success', 61)]

### Task 8

##### List the   names of the booster_versions which have carried the maximum payload mass. Use a subquery

In [154]:
%%sql
SELECT DISTINCT Booster_Version, PAYLOAD_MASS__KG_, Orbit, Launch_Site, (CASE
                WHEN "Landing _Outcome" LIKE "%Success%" THEN "Success"
                ELSE "Failure"
            END) As Outcome, Customer, Date
FROM spacex
WHERE PAYLOAD_MASS__KG_ = (SELECT max(PAYLOAD_MASS__KG_) from spacex)

   sqlite://
 * sqlite:///spacex.db
Done.

[('F9 B5 B1048.4', 15600, 'LEO', 'CCAFS SLC-40', 'Success', 'SpaceX', '11-11-2019'),
 ('F9 B5 B1049.4', 15600, 'LEO', 'CCAFS SLC-40', 'Success', 'SpaceX', '07-01-2020'),
 ('F9 B5 B1051.3', 15600, 'LEO', 'CCAFS SLC-40', 'Success', 'SpaceX', '29-01-2020'),
 ('F9 B5 B1056.4', 15600, 'LEO', 'CCAFS SLC-40', 'Failure', 'SpaceX', '17-02-2020'),
 ('F9 B5 B1048.5', 15600, 'LEO', 'KSC LC-39A', 'Failure', 'SpaceX', '18-03-2020'),
 ('F9 B5 B1051.4', 15600, 'LEO', 'KSC LC-39A', 'Success', 'SpaceX', '22-04-2020'),
 ('F9 B5 B1049.5', 15600, 'LEO', 'CCAFS SLC-40', 'Success', 'SpaceX, Planet Labs', '04-06-2020'),
 ('F9 B5 B1060.2 ', 15600, 'LEO', 'KSC LC-39A', 'Success', 'SpaceX', '03-09-2020'),
 ('F9 B5 B1058.3 ', 15600, 'LEO', 'KSC LC-39A', 'Success', 'SpaceX', '06-10-2020'),
 ('F9 B5 B1051.6', 15600, 'LEO', 'KSC LC-39A', 'Success', 'SpaceX', '18-10-2020'),
 ('F9 B5 B1060.3', 15600, 'LEO', 'CCAFS SLC-40', 'Success', 'SpaceX', '24-10-2020'),
 ('F9 B5 B1049.7 ', 15600, 'LEO', 'CCAFS SLC-40', 'Success', 'SpaceX', '25-11-2020')]

### Task 9

##### List the failed landing_outcomes in drone ship, their booster versions, and launch site names for in year 2015

In [161]:
%%sql
SELECT Booster_Version, Launch_Site, (CASE
                WHEN "Landing _Outcome" LIKE "%Success%" THEN "Success"
                ELSE "Failure"
            END) As Outcome, Date
FROM spacex
WHERE substr(Date, 7) = "2015" and "Landing _Outcome" NOT LIKE "%Success%"

   sqlite://
 * sqlite:///spacex.db
Done.

[('F9 v1.1 B1012', 'CCAFS LC-40', 'Failure', '10-01-2015'),
 ('F9 v1.1 B1013', 'CCAFS LC-40', 'Failure', '11-02-2015'),
 ('F9 v1.1 B1014', 'CCAFS LC-40', 'Failure', '02-03-2015'),
 ('F9 v1.1 B1015', 'CCAFS LC-40', 'Failure', '14-04-2015'),
 ('F9 v1.1 B1016', 'CCAFS LC-40', 'Failure', '27-04-2015'),
 ('F9 v1.1 B1018', 'CCAFS LC-40', 'Failure', '28-06-2015')]

### Task 10

##### Rank the count of landing outcomes (such as Failure (drone ship) or Success (ground pad)) between the date 2010-06-04 and 2017-03-20, in descending order

In [162]:
%%sql
SELECT "Landing _Outcome" Outcome, COUNT(*) as COUNT
FROM spacex
WHERE cast(substr(Date,7)||substr(Date,4,2)||substr(Date,1,2) AS INT) BETWEEN 20100604 and 20170320
GROUP BY "Landing _Outcome"
Order By Count(*) desc

   sqlite://
 * sqlite:///spacex.db
Done.

[('No attempt', 10),
 ('Success (drone ship)', 5),
 ('Failure (drone ship)', 5),
 ('Success (ground pad)', 3),
 ('Controlled (ocean)', 3),
 ('Uncontrolled (ocean)', 2),
 ('Failure (parachute)', 2),
 ('Precluded (drone ship)', 1)]

### Reference Links

*   <a href ="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20String%20Patterns%20-%20Sorting%20-%20Grouping/instructional-labs.md.html?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2022-01-01&origin=www.coursera.org">Hands-on Lab : String Patterns, Sorting and Grouping</a>

*   <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Built-in%20functions%20/Hands-on_Lab__Built-in_Functions.md.html?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2022-01-01&origin=www.coursera.org">Hands-on Lab: Built-in functions</a>

*   <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Sub-queries%20and%20Nested%20SELECTs%20/instructional-labs.md.html?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2022-01-01&origin=www.coursera.org">Hands-on Lab : Sub-queries and Nested SELECT Statements</a>

*   <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-3-SQLmagic.ipynb?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2022-01-01">Hands-on Tutorial: Accessing Databases with SQL magic</a>

*   <a href= "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-4-Analyzing.ipynb?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2022-01-01">Hands-on Lab: Analyzing a real World Data Set</a>

## Author(s)

<h4> Lakshmi Holla </h4>

## Other Contributors

<h4> Rav Ahuja </h4>

## Change log

| Date       | Version | Changed by    | Change Description        |
| ---------- | ------- | ------------- | ------------------------- |
| 2021-10-12 | 0.4     | Lakshmi Holla | Changed markdown          |
| 2021-08-24 | 0.3     | Lakshmi Holla | Added library update      |
| 2021-07-09 | 0.2     | Lakshmi Holla | Changes made in magic sql |
| 2021-05-20 | 0.1     | Lakshmi Holla | Created Initial Version   |

## <h3 align="center"> Â© IBM Corporation 2021. All rights reserved. <h3/>